.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

@media only screen and (min-width: 700px) {
  .container {
    gap: 1.5rem;
    padding: 1rem;
  }
}
