.pokecard {
  border: 2px solid lightslategray;
  font-size: 1rem;
  width: 14rem;
  transition: all 0.2s linear;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.pokecard:hover {
  width: 14.5rem;
  font-size: 1.1rem;
  transition: all 0.2s linear;
}

.pokecard > img {
  border-bottom: 1px solid lightslategray;
}

.pokecard > h3 {
  font-size: inherit;
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
}
