hr {
  margin: 0;
  border: none;
  height: 0.1rem;
  width: 100%;
  background: lightslategray;
}

.pokecard {
  border: 2px solid lightslategray;
  width: 10rem;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pokecard:hover {
  transform: scale(1.1);
}

.pokecard > h3 {
  font-size: inherit;
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
}
